Prompt for Analyzing Song Emotions

Artist: {{ artist }}
Song Name: {{ title }}
Lyrics: {{ lyrics }}


Task: Identify and list up to four basic emotions that are most prominently conveyed in the song. Focus on standard, easily identifiable emotions.

Output Format: Provide the emotions in a Python list and don't write anything else. Example of output:
"['Desire', 'Devotion', 'Loyalty', 'Affection']".
"['pride', 'anger', 'confidence', 'determination']".

Important: Only include emotions that are directly reflected in the lyrics. AVOID interpretations that lead to complex or ambiguous emotions.


